
 .navbar__container__color{
    background: $header;
    // background:  #2729CC;
    transition: 0.3s;
}

.navbar__container{
    background: transparent;
    transition: 0.3s;
}

#nav{
    height: 60px;
    width: 100vw;
    @include displayFlex(row, unset, center);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    a:first-child{
        margin-right: auto;
    }


    ul{
        @include displayFlex(row, flex-end, center);
        height: 100%;

        a{
            margin-right: 20px; 
        }

        a:first-child{
            margin-right: auto;
        }


        

        li{          
            cursor: pointer;
            height: 100%;
            @include displayFlex(row, center, center);
           
        }


        img{
            width: 50px;
        }

        .navbar__link{
            transition: 0.3s;
            font-size: 16px;
            padding: 3px;
            text-align: center;
            &:hover{
            transition: 0.3s;
            box-shadow: 0px 10px 11px -8px rgba(255, 255, 255, 0.58);
            border-radius: 5px;
          
            }
        }
    }
}


.mobile__nav{
    

    .mobile__navbar{
        transition: 0.3s!important;
        pointer-events: none!important;
        display: flex;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center;
        position: fixed;
        width: 100vw;
        top: 0;
        opacity: 0;
        color: transparent;
        height: 60vh!important;
        min-height: max-content;
        background-color: #8a2be2;
        background: linear-gradient(to bottom, #0F011B, #DD013C);
        transform: scaleY(0);
        transform-origin: top;

        a{
            height: 100px;
            margin-right: unset!important;
        }

        li{
      
            width: 100vw;

        }

       
    
       
    
        .navbar__link{
            margin: auto;
            height: calc((100%-60px) / 3);
    
            &:hover{
               background-color: rgba(255, 255, 255, 0.226);
               color: white!important;
               box-shadow: unset!important;
               border-radius: 0px!important;
            }
    
        }

    }

    .mobile__navbar--on{
        transition: 0.3s;
        pointer-events: all!important;
        transform: scaleY(1);
        transform-origin: top;
        color: white;
        opacity: 1;
        

        a{
            height: 100px;
            opacity: 1;
        }
       
    }

    
}

