.about__container{
   background-color: #f8f8f8;
   
   .about__inner__container{
      @include displayFlex(column, center, center);
      text-align: center;

      .btn{
         border: 2px solid $header;
         color: $header;
         margin-bottom: 15px;


         &:hover{
            border: 2px solid $header;
            background-color: $header;
            color: white;
         }

      }

  
     
   }

   .first__p {
      padding-bottom: 0px;
   }
}