header{
   
    padding-top: 60px;
    color: white;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position: relative;
    background-image:  url('./images/header.jpg');
}


header:after {
    position: absolute;
    content: " ";
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(137, 43, 226, 0.26);
  }

.header__container{
    div{
        height: max-content!important;
    }
    @include displayFlex(column, center, center);
    height: 400px;
    z-index: 1;
    @include mediaMaxWidth(500px){
        height: max-content;
        padding-bottom: 25px;
    }

    h1{
        font-size: 50px;
        font-weight: 500;
        padding-bottom: 30px;

        @include mediaMaxWidth(500px){
            text-align: center;
            padding-top: 20px;
            
            font-size: 37px;
            
          }
    }

    p{
        max-width: 600px ;
        text-align: center;
        margin-bottom:40px ;

        @include mediaMaxWidth(500px){
            padding: unset;
            
          }
        
    }

    .btn{
        @include mediaMaxWidth(500px){
            margin-bottom: 20px;
        }
    }
    
}